name: build-and-run

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build
        run: go build -o bin/hexlet-path-size ./cmd/hexlet-path-size

      - name: Run
        run: go run  cmd/hexlet-path-size/main.go
